.post-content {
  margin: 0 auto;
  padding: 30px;
}
.post-content p {
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
}
.post__info {
  margin: 20px 0 10px;
}
.post__title,
.post__info {
  text-align: center;
}
.post-comments__wrapper {
  display: flex;
  justify-content: center;
  
  width: 100%;
  background: #FAFAFA;
}
.post-comments {
  padding: 30px;  
  width: 100%;
  max-width: 690px;
}
.post-comment__time {
  font-size: 14px;
  color: #999;
}
.post-comment,
.post-comment__form {
  margin-top: 20px;
  padding: 10px 20px 15px;
}
.post-comment,
.post-comment__form {
  background: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}
.post-comment__form input,
.post-comment__form textarea {
  font-size: 20px;
}
.post-comment__form input:not([type='submit']),
.post-comment__form textarea {
  border: none;
  background: #FAFAFA;
  outline: none;
}
.post-comment__form textarea {
  width: 100%;
}