.blogpost-detail {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.blogpost-detail p {
  padding: 0 20px;
}
.blogpost-detail__title {
  font-size: 22px;
  letter-spacing: 1px;
}
.blogpost-detail__info {
  margin: 20px 0 10px;
  font-size: 13px;
  color: #999;
}
.blogpost-detail__title,
.blogpost-detail__info {
  text-align: center;
}