.blogpost-detail {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}
.blogpost-detail p {
  padding: 0 20px;
}
.blogpost-detail__title {
  font-size: 22px;
  letter-spacing: 1px;
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-weight: 400;
  color: #1C3754;
}
.blogpost-detail__info {
  margin: 20px 0 10px;
  font-size: 13px;
  color: #999;
}
.blogpost-detail__title,
.blogpost-detail__info {
  text-align: center;
}