body {
  font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 20px;
  word-spacing: 1px;
  line-height: 1.4;
  color: #1C3754;
  background-color: #FFFFFF;  
  margin: 0;
}
img {
  border: none;
}
a {
  color: #1C3754;
  text-decoration: none;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.header, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-weight: 400;
  color: #1C3754;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h6 {
  padding: 0;
  text-align: center;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 21px;
  font-family: "lexia", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.header,
.post-content {
  width: 100%;
  max-width: 690px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.header {
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 80px 0;
  border-bottom: 1px dotted #1c3754;
}
.title {
  font-size: 32px;
  letter-spacing: 5px;
  margin: 50px auto 15px;
  text-align: center;
}
.motto {
  color: #1C3754;
  line-height: 1.2;
  width: 100%;
  max-width: 440px;
  margin: 10px auto 0;
}
.motto h6 {
  padding: 0 30px;
}
.links {
  margin: 0;
  padding: 10px;
  text-align: right;
  font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
  color: #999;
  font-size: 24px;
  letter-spacing: 10px;
}
.content {
  width: 100%;
  padding-top: 30px;
}
.post__title {
  font-size: 28px;
  letter-spacing: 1px;
  margin-left: 20px;
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-weight: 400;
}
.post__title a:hover {
  color: #E54973;
}
.post__info {
  font-size: 16px;
  color: #999;
}
.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  text-align: center;
  font-size: 18px;
}
.pagination__prev,
.pagination__next {
  position: absolute;
  color: #E54973;
  border-bottom: 1px dashed transparent;
  transition: color 0.2s ease, border-color 0.2s ease;
}
.pagination__prev:hover,
.pagination__next:hover {
  border-color: #E54973;
}
.pagination__prev {
  left: 10px;
}
.pagination__next {
  right: 10px;
}
.post__tags {
  font-size: 14px;
  color: #999;
  letter-spacing: 1px;
}
.post__tags a {
  color: #999;
  border-bottom: 1px dashed transparent;
}
.post__tags a:hover {
  border-color: #999;
}
