{% extends "../base.html" %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/blogpost_detail.css' %}">    
{% endblock %}

{% block title %}
{{ post.title }} | DogRod
{% endblock  %}

{% block content %}
<!-- <a href="/">返回首页</a> -->
<div class="blogpost-detail">
  <div class="blogpost-detail__title">{{ post.title }}</div>
  <div class="blogpost-detail__info">{{ post.create_at }} - By {{ post.author }} </div>
  <p>{{ post.body }}</p>
</div>
{% endblock  %}
