{% extends "../base.html" %}
{% load static from staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/post/list.css' %}">    
{% endblock %}
  
{% block title %}
Blog | DogRod
{% endblock  %}

{% block content %}
<div class="index">
  <ul class='index__blog-list'>
    {% for post in posts %}
    <li class="index__blog-index">
      <span class="post__info">{{ post.get_publish_date }}</span>
      <span class="post__title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span>
    </li>
    {% endfor %}
  </ul>
  {% include "./pagination.html" with page=page_obj %}
</div>
{% endblock  %}